@model personapi_dotne.Models.Entities.Telefono

@{
    ViewData["Title"] = "Editar Teléfono";
}

<h1 class="mb-4 text-warning">Editar Teléfono</h1>

<div class="card shadow p-4">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Num" />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="mb-3">
            <label asp-for="Oper" class="form-label">Operador</label>
            <input asp-for="Oper" class="form-control" />
            <span asp-validation-for="Oper" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Duenio" class="form-label">Dueño</label>
            <select asp-for="Duenio" class="form-control" asp-items="ViewBag.Duenio"></select>
            <span asp-validation-for="Duenio" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
