@model personapi_dotne.Models.Entities.Profesion

@{
    ViewData["Title"] = "Detalles de Profesión";
}

<h1 class="mb-4 text-info">Detalles de Profesión</h1>

<div class="card shadow p-4">
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nom</dd>

        <dt class="col-sm-3">Descripción</dt>
        <dd class="col-sm-9">@Model.Des</dd>
    </dl>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>
